{
    "printWidth": 80,
    "tabWidth": 2, 
    "singleQuote": true, 
    "trailingComma": "all",
    "jsxBracketSameLine": false, 
    "jsxSingleQuote": true,
    "parser": "flow",
    "semi": true
}