:root{
    --root-color-primary: #1CB481;
    --root-color-dark-grey: #424b51;
    --root-color-medium-grey: #959ea5;
    --root-color-soft-grey: #DAE1E4;
    --root-color-light-grey: #F4F5F6;
    --root-color-white: #fff;
}